---
import Layout from "../layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Contact">
  <main class="mx-auto max-w-7xl">
    <section class="flex flex-grow py-40 text-xl flex-col justify-center items-center">
      <h1 class="text-5xl py-10">Contact</h1>
      <a href="mailto:rompaoondo@gmail.com">rompaoondo@gmail.com</a>
    </section>
  </main>
</Layout>
