---
import Layout from "@/layouts/Layout.astro";
import HomeMob from "@/components/HomeMob.astro";
import VerticalCarousel from "@/components/react/VerticalCarousel";
---

<Layout title="ROMPPAO">
  <div class="md:flex-row flex flex-col md:gap-10 relative md:pr-72 flex-grow">
    <div class="relative hidden md:flex flex-1">
      <h1 style="font-size:3em;text-align:center;font-weight:900;">ROMPPAO</h1>
      <span style="font-size:1.5em;text-align:center;font-weight:700;position:absolute;top:4.5em;left:50%;transform:translateX(-50%);">ROMPPAO</span>
      <p class="text-xl absolute bottom-1/4 right-0">romppao.com</p>
    </div>
    
    <div class="min-h-screen md:w-1/2 -mt-50 md:mt-0 max-h-full overflow-hidden">
      <VerticalCarousel client:load imageCount={10} />
    </div>
  </div>
</Layout>
<!-- Force rebuild -->
