<section class="w-full flex flex-col md:hidden px-5 z-10">
  <div class="relative">
    <h1 class="text-7xl leading-22 mt-20 font-semibold relative inline-block">
      MI<br /> PORTFOLIOe
    </h1>
  </div>
  <p class="text-5xl text-right max-w-72 self-end pt-10 leading-15">
    Photos by Unsplash
  </p>
</section>
